@{
    ViewData["Title"] = "Add";
}
@model ProductViewModel

<h1>Ürün Ekleme</h1>

<form asp-controller="Products" asp-action="Add" method="post">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün ismi</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyatı</label>
        <input class="form-control" asp-for="Price">
    </div>

    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stok</label>
        <input class="form-control" asp-for="Stock">
    </div>

    <div class="mb-3">

        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
            <option value="">Renk Seçiniz</option>
        </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">
            Yayınlansın mı?
        </label>
    </div>

    <span class="mt-3 mb-3">Ürün kaç ay satışta kalıcak ?</span>
    @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
    {
        <div class="form-check mb-3 mt-3">
            <input class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">
            <label class="form-check-label" asp-for="Expire" for="@(item.Value)Expire">
                @item.Key
            </label>
        </div>
    }

    <div class="form-floating">
        <textarea asp-for="Description" class="form-control" placeholder="Ürün Açıklama" style="height: 100px"></textarea>
        <label asp-for="Description">Ürün Açıklama</label>
    </div>

    <div class="mb-3">
        <label asp-for="PublishDate" class="form-label">Ürün Yayınlanma Tarih</label>
        <input class="form-control" asp-for="PublishDate">
    </div>

    <button class="btn btn-primary mt-3" type="submit">Ürün Kaydet</button>


</form>


@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    }