@{
    ViewData["Title"] = "Index";
}
@model List<ProductViewModel>

<h1>Ürünler</h1>

@if (TempData["status"] != null)
{
    <div class="alert alert-primary">@TempData["status"]</div>
}

<a asp-controller="products" asp-action="add">Ürün Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Yayınlansın mı?</th>
            <th>Süre</th>
            <th>Açıklama</th>
            <th>Yayınlanma tarihi</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>
                    @(item.IsPublish ? "Evet" : "Hayır")
                </td>
                <td>@item.Expire</td>
                <td>
                    @if (item.Description.Length > 20)
                    {
                        @item.Description.Substring(0,20) <text>...</text>
                    }
                    else
                    {
                        @item.Description
                    }
                </td>
                <td>@item.PublishDate</td>

                <td>
                    <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Sil</a>
                    <a asp-controller="products" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                    <a asp-controller="products" asp-action="getbyid" asp-route-productid="@item.Id">Ürün Sayfasına Git</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="blog" asp-action="article" asp-route-name="makale-ismi" asp-route-id="2">Makaleye git</a>

<a asp-controller="product" asp-action="pages" asp-route-page="1" asp-route-pagesize="3">1. sayfadan 3 ürün ver</a>

<a asp-controller="product" asp-action="pages" asp-route-page="2" asp-route-pagesize="6">2. sayfadan 6 ürün ver</a>