@{
    ViewData["Title"] = "Update";
}
@model Product

<h1>Ürün Güncelleme</h1>

<form asp-controller="Products" asp-action="Update" method="post">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün ismi</label>
        <input class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyatı</label>
        <input class="form-control" asp-for="Price">
    </div>

    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stok</label>
        <input class="form-control" asp-for="Stock">
    </div>

    <div class="mb-3">
        @* <label asp-for="Color" class="form-label">Ürün Renk</label>
        <input class="form-control" asp-for="Color">*@
        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
            <option value="">Renk Seçiniz</option>
        </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">
            Yayınlansın mı?
        </label>
    </div>

    <div class="mb-3 mt-3">
        <span class="mt-3 mb-3">Ürün kaç ay satışta kalıcak ?</span>
        @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
        {
            <div class="form-check mb-3 mt-3">

                <input checked=@(item.Value==ViewBag.ExpireValue ? true : false) class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">

             @*
            @if (item.Value == ViewBag.ExpireValue)
            {
            <input checked="checked" class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">
            }
            else
            {
            <input class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">
            }*@

                <label class="form-check-label" asp-for="Expire" for="@(item.Value)Expire">@item.Key</label>
            </div>





        }
    </div>

    <div class="form-floating">
        <textarea asp-for="Description" class="form-control" placeholder="Ürün Açıklama" style="height: 100px"></textarea>
        <label asp-for="Description">Ürün Açıklama</label>
    </div>

    <div class="mb-3">
        <label asp-for="PublishDate" class="form-label">Ürün Yayınlanma Tarih</label>
        <input class="form-control" asp-for="PublishDate">
    </div>


    <button class="btn btn-primary mt-3" type="submit">Ürün Güncelle</button>


</form>
